html {
    background: rgb(0, 59, 0);
}
.main {
    height: 100%;
    width: 100%;
}
.controls   {
    display: grid;
    grid-gap: 1em;
    text-align: center;
    height: 100%;
    width: 100%;
}
.tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.tabs button:hover {
    background-color: #ddd;
}
.tabs button.active {
    background-color: #ccc;
}
#home-controls  {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    border-radius: 10px 10px 10px 10px;
    border: 5px solid white;
    color: white;
    background: black;

    display: flex;
    flex-direction: column;
}
#clock-controls {
    grid-row: 1 / 3;
    grid-column: 2 / 5;
    border-radius: 10px 10px 10px 10px;
    border: 5px solid white;
    color: white;
    background: black;
}
#guest-controls {
    grid-row: 1 / 3;
    grid-column: 5 / 6;
    border-radius: 10px 10px 10px 10px;
    border: 5px solid white;
    color: white;
    background: black;

    display: flex;
    flex-direction: column;
}