/* Not Currently Used */

html {
    background: darkslategrey;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%
}
header {
    background: black;
    color: white;
    margin: auto auto auto auto;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 2em;
    position: fixed;
}
header h4 {
    color: white;
    margin: 0.5em auto auto 10px;
}
.spacer {
    height: 2em;
}
#button-container   {
    margin: auto 0 0 auto;
    text-align: right;
}
#button-container input {
    margin-left: auto;
}
